/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.container .dropdown .dropdown-menu a {
    color: rgba(255, 255, 255, 0.5);
}

.container .dropdown .dropdown-menu a:hover, .container .dropdown .dropdown-menu a:focus {
    color: white;
    background-color: #2e2e2e;
}

.zoom:hover {
    transform: scale(1.1);
}

.form-sm {
    max-width: 375px;
    padding: 15px 30px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: white;
}

.form-md {
    max-width: 500px;
    padding: 15px 30px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: white;
}

.form-lg {
    max-width: 700px;
    padding: 15px 30px 45px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: white;
}

.card-header {
    background-color: white;
}

a:hover {
    text-decoration: none;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.field-icon {
    float: right;
    position: relative;
    z-index: 2;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a:hover {
    text-decoration: none;
}
