@model CompanyViewModel

@{
    ViewData["Title"] = "Edit company";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>@ViewData["Title"]</h3><hr />
            <form asp-action="EditCompany" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CompanyId" />
                <div class="form-group form-check">
                    <input asp-for="User.Inactive" class="form-check-input" />
                    <label asp-for="User.Inactive" class="form-check-label">Inactive</label>
                    <span asp-validation-for="User.Inactive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.FirstName" class="control-label">First name</label>
                    <input asp-for="User.FirstName" class="form-control" />
                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.LastName" class="control-label">Last name</label>
                    <input asp-for="User.LastName" class="form-control" />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.UserName" class="control-label">Username</label>
                    <input asp-for="User.UserName" class="form-control" />
                    <span asp-validation-for="User.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.PhoneNumber" class="control-label">Phone number</label>
                    <input asp-for="User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" asp-items="Model.Types" class="form-control"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Industry" class="control-label"></label>
                    <input asp-for="Industry" class="form-control" />
                    <span asp-validation-for="Industry" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specialties" class="control-label"></label>
                    <input asp-for="Specialties" class="form-control" />
                    <span asp-validation-for="Specialties" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <a href='javascript:history.go(-1)' class="btn btn-link p-0">Back to previous page</a>
        </div>
    </div>
</div>
